$gray-color: #F4F4F4;
$grayDarker-color: #4E4E4E;
$grayDarker-color-2: #656363;
$orange-color: #F09035;
$orangeDarker-color: #DC6E05;
$yellow-color: #E8A634;
$yellowLight-color: rgba(253, 215, 14, 0.2);
$red-color: #D80000;
$red-color-2: #ED3237;
$redDarker-color: #BC2E31;
$white-color: #FFFFFF;